<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:include="fragments/modelo :: modelo">
<body>

	<div th:fragment="conteudo">
		<div class="container">
			<div class="row">
				<div class="col-md"><img width="100%" src=https://www.ebc.com.br/sites/_portalebc2014/files/styles/full_colunm/public/atoms_image/bandeira_do_brasil.jpg?itok=ZmR_6vVa""></div>
			<div class="col-md"><img width="100%"src="https://cdn.hipercultura.com/imagens/hiper-bandeira-cke.jpg"></div>
			</div>
		</div>

	</div>

</body>
</html>